<app-header></app-header>
<div class="sellerListPage ExplorerListPage">
  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Static Content Management</span>
        </h1>
      </div>
      <div class="row gutter-xs">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-actions">
                <!-- <input type="text" placeholder="search" (keyup)="search()" [(ngModel)]="searchWord" > -->
              </div>
              <strong>Content list</strong>
            </div>
            <div class="card-body">
              <table id="demo-datatables-5" class="table table-striped table-bordered table-nowrap dataTable"
                cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>About Us</td>
                    <td>{{ data.aboutUsCreatedAt | date:"dd-MM-yyyy" }}</td>
                    <td>{{ data.updatedAt | date:"dd-MM-yyyy" }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm btn-labeled" type="button" (click)="viewUser(user._id)">
                        <span class="btn-label">
                          <span class="icon icon-eye icon-lg icon-fw"></span>
                        </span>
                        View content
                      </button>
                    </td>
                    <td>
                    <button class="btn btn-success btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id)">
                        <span class="btn-label">
                          <span class="icon icon-check icon-lg icon-fw"></span>
                        </span>
                        Edit
                      </button>
                      <button class="btn btn-danger btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id, 'delete')">
                        <span class="btn-label">
                          <span class="icon icon-bank icon-lg icon-fw"></span>
                        </span>
                        Delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Contact Us</td>
                      <td>{{ data.contactUsCreatedAt | date:"dd-MM-yyyy" }}</td>
                      <td>{{ data.updatedAt | date:"dd-MM-yyyy" }}</td>
                      <td>
                        <button class="btn btn-primary btn-sm btn-labeled" type="button" (click)="viewUser(user._id)">
                          <span class="btn-label">
                            <span class="icon icon-eye icon-lg icon-fw"></span>
                          </span>
                          View content
                        </button>
                      </td>
                      <td>
                      <button class="btn btn-success btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id)">
                          <span class="btn-label">
                            <span class="icon icon-check icon-lg icon-fw"></span>
                          </span>
                          Edit
                        </button>
                        <button class="btn btn-danger btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id, 'delete')">
                          <span class="btn-label">
                            <span class="icon icon-bank icon-lg icon-fw"></span>
                          </span>
                          Delete
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Terms And Services</td>
                        <td>{{ data.termsAndServicesCreatedAt | date:"dd-MM-yyyy" }}</td>
                        <td>{{ data.updatedAt | date:"dd-MM-yyyy" }}</td>
                        <td>
                          <button class="btn btn-primary btn-sm btn-labeled" type="button" (click)="viewUser(user._id)">
                            <span class="btn-label">
                              <span class="icon icon-eye icon-lg icon-fw"></span>
                            </span>
                            View content
                          </button>
                        </td>
                        <td>
                        <button class="btn btn-success btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id)">
                            <span class="btn-label">
                              <span class="icon icon-check icon-lg icon-fw"></span>
                            </span>
                            Edit
                          </button>
                          <button class="btn btn-danger btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id, 'delete')">
                            <span class="btn-label">
                              <span class="icon icon-bank icon-lg icon-fw"></span>
                            </span>
                            Delete
                          </button>
                        </td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>Help Center</td>
                          <td>{{ data.helpCenterCreatedAt | date:"dd-MM-yyyy" }}</td>
                          <td>{{ data.updatedAt | date:"dd-MM-yyyy" }}</td>
                          <td>
                            <button class="btn btn-primary btn-sm btn-labeled" type="button" (click)="viewUser(user._id)">
                              <span class="btn-label">
                                <span class="icon icon-eye icon-lg icon-fw"></span>
                              </span>
                              View content
                            </button>
                          </td>
                          <td>
                          <button class="btn btn-success btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id)">
                              <span class="btn-label">
                                <span class="icon icon-check icon-lg icon-fw"></span>
                              </span>
                              Edit
                            </button>
                            <button class="btn btn-danger btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id, 'delete')">
                              <span class="btn-label">
                                <span class="icon icon-bank icon-lg icon-fw"></span>
                              </span>
                              Delete
                            </button>
                          </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Privacy Policy</td>
                            <td>{{ data.privacyPolicyCreatedAt | date:"dd-MM-yyyy" }}</td>
                            <td>{{ data.updatedAt | date:"dd-MM-yyyy" }}</td>
                            <td>
                              <button class="btn btn-primary btn-sm btn-labeled" type="button" (click)="viewUser(user._id)">
                                <span class="btn-label">
                                  <span class="icon icon-eye icon-lg icon-fw"></span>
                                </span>
                                View content
                              </button>
                            </td>
                            <td>
                            <button class="btn btn-success btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id)">
                                <span class="btn-label">
                                  <span class="icon icon-check icon-lg icon-fw"></span>
                                </span>
                                Edit
                              </button>
                              <button class="btn btn-danger btn-sm btn-labeled" type="button" (click)="deleteOrBlock(user._id, 'delete')">
                                <span class="btn-label">
                                  <span class="icon icon-bank icon-lg icon-fw"></span>
                                </span>
                                Delete
                              </button>
                            </td>
                          </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>


<div id="viewUser" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">User full detail</h4>
      </div>
      <div class="modal-body provider-detail">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center">
              <div class="card-image">
                <div class="overlay">
                </div>
              </div>
              <!-- <div class="card-avatar text-left">
                <a class="card-thumbnail rounded" style="width: 150px;height: 160px;overflow: hidden;" href="#">
                  <img class="img-responsive" [src]="userData.image || 'assets/img/8447261358.jpg'" alt="Instagram">
                </a>
              </div> -->
              <div class="card-body">
                <h3 class="card-title text-left">User name</h3>
                <p class="card-text text-left">
                  <span class="app-users">
                    <span class="icon icon-map-marker"></span>
                    fullName
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-middle media-body">
                      <h4 class="m-y-0">Phone number</h4>
                      <small>phone</small>
                    </div>
                  </li>
                 <li class="media">
                    <div class="media-middle media-body">
                      <h4 class="m-y-0">Email</h4>
                      <small>email</small>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<div id="unblockUser" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <span class="text-success icon icon-times-circle icon-5x"></span>
          <h3 class="text-success">Sure</h3>
          <h4>Are you want to block this item?</h4>
          <div class="m-t-lg">
            <button class="btn btn-success" data-dismiss="modal" (click)="yes('#unblockUser')" type="button">Yes</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<div id="deleteUser" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <span class="text-danger icon icon-times-circle icon-5x"></span>
          <h3 class="text-danger">Danger</h3>
          <h4>Are you sure want to delete this item</h4>
          <div class="m-t-lg">
            <button class="btn btn-danger" data-dismiss="modal" (click)="yes('#deleteUser')" type="button">Yes</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>