<app-header></app-header>>
<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Change Password /</span>
        <a [routerLink]="['/profile']">Back</a>
      </h1>
    </div>
    <div class="row gutter-xs">
      <div class="col-md-8 card panel-body">
        <div class="col-sm-12 col-md-12">
          <div class="demo-form-wrapper">
            <form class="form form-horizontal" [formGroup]="changePasswordForm">
              <div class="form-group">
                <div class="col-md-8">
                  <label class=" control-label">Old Password</label>
                  <input class="form-control" formControlName="oldPassword" type="password" maxlength="16">
                  <p *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').dirty">*Old
                    password required</p>
                  <p *ngIf="changePasswordForm.get('oldPassword').hasError('minlength') && changePasswordForm.get('oldPassword').dirty">*Password
                    should be greater then 8 character's</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <label class=" control-label">New Password</label>
                  <input class="form-control" formControlName="newPassword" type="password" maxlength="16">
                  <p *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').dirty">*New
                    password required</p>
                  <p *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && changePasswordForm.get('newPassword').dirty">*Password
                    should be greater then 8 character's</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <label class=" control-label">Confirm Password</label>
                  <input class="form-control" formControlName="confPassword" type="password" maxlength="16">
                  <p *ngIf="changePasswordForm.get('confPassword').hasError('required') && changePasswordForm.get('confPassword').dirty">*Confirm
                    password required</p>
                  <p *ngIf="(changePasswordForm.get('confPassword').value != changePasswordForm.get('newPassword').value) && changePasswordForm.get('confPassword').dirty && changePasswordForm.get('confPassword').value && changePasswordForm.get('newPassword').value">*Password
                    not match</p>
                </div>
              </div>

              <div class="form-group">
                <div class=" col-sm-8  col-md-8 ">
                  <button class="btn btn-primary btn-block" [disabled]="!changePasswordForm.valid || (changePasswordForm.get('confPassword').value != changePasswordForm.get('newPassword').value)"
                    type="submit" (click)="changePassword()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>